@charset "utf-8";

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 3%;
}

.footer-btn {
	margin: 2% 5%;
	width: 10%;
	border: 1px solid white;
	border-radius: 30px;
	font-weight: bold;
	color: white;
	background-color: black;
}