@charset "utf-8";

@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.donation-category {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #c4c5c4;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.donation-btn {
	padding: 0.3rem 1rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	border: 1px solid #c4c5c4;
	border-radius: 20px;
	background-color: white;
}

.donation-btn:hover{
	font-weight: bold;
	border: 1px solid #f5d7d7;
	background-color: #fff7f7;
}

.cards {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    max-width: 820px;
}

.card__like {
    width: 18px;
}

.card__clock {
	width: 15px;
	vertical-align: middle;
	fill: #AD7D52;
}
.card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.card__clock-info {
    float: right;
}

.card__img {
	visibility: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 235px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.card__info-hover {
	position: absolute;
	padding: 16px;
	width: 100%;
	opacity: 0;
	top: 0;
}

.card__img--hover {
	transition: 0.8s all ease-out;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	position: absolute;
	height: 235px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	top: 0;
  
}
.card {
	margin-right: 25px;
	transition: all 1s cubic-bezier(0.175, 0.885, 0, 1);
	background-color: #fff;
	width: 100%;
	position: relative;
	border-radius: 15px !important;
	overflow: hidden;
	box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover {
	box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
	z-index: 2;
	background-color: #fff;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
	color: #868686;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Happiness-Sans-Title';
    font-size: medium;
    font-weight: bold;
}

.card__by {
    font-size: 12px;
    font-family: 'Happiness-Sans-Title';
    font-weight: 500;
    display: flex;
    align-items: center;
}

.card__logo {
	width: 10%;
	margin-right: 0.5rem;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.card:hover .card__img--hover {
    height: 65%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}

.progress-span {
	margin-left: 1rem;
	font-family: 'Happiness-Sans-Title';
}

.container-fluid {
  position: relative;
  width: 50%;
  text-align: center;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-top: 1rem;
}

.Loading {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 8px;
  background: #f1f1f1;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
  border-radius: 4px;
  overflow: hidden;
}

.Loading-after {
	width: 100%;
	height: 8px;
}

/* Pagination */

.pagination {
  position: relative;
  padding: 10px;
}
.pagination li {
  display: inline-block;
  list-style: none;
}
.pagination li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  color: #252525;
  border-radius: 4px;
  margin: 5px;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}
.pagination li a:hover, .pagination li a.active {
  color: #fff;
  background-color: #ff4242;
}
.pagination li:first-child a {
  border-radius: 40px 0 0 40px;
}
.pagination li:last-child a {
  border-radius: 0 40px 40px 0;
}


/* ranking */

.recent {
	position: sticky;
	top: 20%;
	margin-left: 15px;
}

.recent-item {
	width: 75%;
	margin-top: 1rem;
}

.recent-item img {
	width: 100%;
	border-radius: 15px;
}


/* iphone */

.iphonex {
	width: 13em;
    height: 26em;
    display: flex;
    position: relative;
    transform: rotate(0deg);
    transition: all cubic-bezier(0.36, 0.41, 0.38, 1) 0.4s;
    z-index: 10;
}
.iphonex .back {
	display: flex;
    flex: 1;
    margin: 0.2em;
    border-radius: 3em;
    position: absolute;
    z-index: 1;
    width: calc( 100% - 0.6em );
    height: calc( 100% - 0.6em );
    top: 0;
    right: 0;
    box-shadow: 0 0 10em rgb(70 70 70 / 10%);
    transition: all 0.4s;
}
.iphonex .front {
	display: flex;
    flex: 1;
    background-color: #292c2d;
    border-radius: 1.8em;
    margin: 0.2em;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.1em 0.4em rgb(255 255 255 / 10%) inset;
    z-index: 10;
}
.iphonex .screen{
	display: flex;
    flex: 1;
    background-color: #191b1c;
    margin: 0.2em;
    border-radius: 1.8em;
    border: solid 0.2em #121415;
    position: relative;
    z-index: 10;
}
.iphonex .front__line{
	background: linear-gradient(to right, #515455, #454748, #515455);
    position: absolute;
    z-index: 8;
    width: 100%;
    height: 0.5em;
    top: 10%;
}
.iphonex .front__line-second{
	top: 90%
}
.iphonex .screen .screen__view{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0.3em;
	border-radius: 1em;
	overflow: hidden;
	width: 100%;
	position: relative;
	align-items: center;
	justify-content: center;
	background-color: white;
}
.iphonex .screen .screen__view .screen__view_part{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.iphonex .screen .screen__view:after,.iphonex .screen .screen__view:before{
	content: "";
	position: absolute;
	z-index: 1;
	width: 50em;
	height: 50em;
	border-radius: 50%;
	background: white;
	bottom: 0;
	transform:  translateY(100%) scaleX(1.4);
}

.iphonex .screen .screen__front{
	position: absolute;
    width: 50%;
    background-color: #191b1c;
    height: 1.2em;
    border-radius: 0 0 0.9em 0.9em;
    right: 25%;
    top: -2%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.3em;
    box-sizing: border-box;
    margin-top: 0.5em;
    z-index: 999;
}
.iphonex .screen .screen__front-speaker{
	background: #070808;
    border-radius: 0.2em;
    height: 0.35em;
    width: 28%;
}
.iphonex .screen .screen__front-camera{
    height: 0.35em;
    width: 0.35em;
    background: #272727;
    margin-left: 0.5em;
    border-radius: 50%;
    margin-right: -0.8em;
}
.iphonex .phoneButtons{
	width: 1em;
	height: 6em;
	position: absolute;
	z-index: 2;
	background: linear-gradient(to bottom, #212324, #2b2e31,#212324);
	box-shadow: 0 0 0.4em rgba(255, 255, 255, 0.1) inset;
	border-radius: 2px;
}
.iphonex .phoneButtons-right{
	right: 0;
    top: 20%;
}
.iphonex .phoneButtons-left{
    left: 0;
    top: 15%;
    height: 2rem;
}
.iphonex .phoneButtons-left2{
	left: 0;
    top: 25%;
    height: 2rem;
}
.iphonex .phoneButtons-left3{
	left: 0;
    top: calc( 25% + 4em);
    height: 2rem;
}



/* loading 화면 */
#loader-wrapper { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 2000; }
#loader { display: block; position: relative; left: 50%; top: 50%; width: 150px; height: 150px; margin: -75px 0 0 -75px; border-radius: 50%; border: 3px solid transparent; border-top-color: #3498db; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */ z-index: 2001; }
#loader:before { content: ""; position: absolute; top: 5px; left: 5px; right: 5px; bottom: 5px; border-radius: 50%; border: 3px solid transparent;
	border-top-color: #e74c3c; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */ }
#loader:after { content: ""; position: absolute; top: 15px; left: 15px; right: 15px; bottom: 15px; border-radius: 50%; border: 3px solid transparent;
	border-top-color: #f9c922; /* Chrome, Opera 15+, Safari 5+ */ animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */ }
@keyframes spin {
	0%   {  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}

#loader-wrapper .loader-section { position: fixed; top: 0; width: 51%; height: 100%; background: #ffffff; z-index: 2000;  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */ transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */}

#loader-wrapper .loader-section.section-left { left: 0; }

#loader-wrapper .loader-section.section-right { right: 0; }

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
	transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */  
	transition: all 1s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
	transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */  
	transition: all 1s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
	opacity: 0;  
	transition: all 1s ease-out;
}
.loaded #loader-wrapper {
	visibility: hidden;  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
	transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */  
	transition: all 0.3s 1s ease-out;
}

.no-js #loader-wrapper { display: none; }



